{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "keycloak-client-operator.fullname" . }}-manager-role
  labels:
    {{- include "keycloak-client-operator.labels" . | nindent 4 }}
  {{- with .Values.rbac.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
rules:
- apiGroups:
  - keycloak.pewty.fr
  resources:
  - clients
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - keycloak.pewty.fr
  resources:
  - clients/finalizers
  verbs:
  - update
- apiGroups:
  - keycloak.pewty.fr
  resources:
  - clients/status
  verbs:
  - get
  - patch
  - update
{{- end }}
